*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.title{
    display: flex;
    justify-content:center;
    margin:10px;
    color:purple;
    font-weight:bold;
    font-size: 50px;
}
.searchbox{
    display: flex;
    justify-content:center;
    align-items:center;
    border:3px solid purple;
    text-align:center;
}
